<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Lab 3</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>JMSController</servlet-name>
        <servlet-class>servlets.JMSController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMSListner</servlet-name>
        <servlet-class>servlets.JMSListner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JMSController</servlet-name>
        <url-pattern>/lab3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMSListner</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
</web-app>